<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Git User Information</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<form action="/gituserinformation" method="post" id="form">
			<input type="text" th:value="${userName}" name="userName" />
			<button type="submit" id="button">Submit</button>
		</form>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Repository Name</th>
					<th>Owner Login</th>
					<th>Email</th>
					<th>Branch name</th>
					<th>Commits</th>
					<th>SHA</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="repository : ${repositories}">
					<td th:text="${repository.name}"></td>
					<td th:text="${repository.fullname}"></td>
				</tr>
				<tr><p th:text="|Hello, ${name}!|" /></tr>
			</tbody>
		</table>
	</div>
</body>

</html>